<footer class="footer">
    <div>
        <span>© 2024 CompanyName. All rights reserved.</span>
        <div class="mt-2">
            <a href="#" class="mx-2">Privacy Policy</a>
            <a href="#" class="mx-2">Terms of Service</a>
        </div>
    </div>
</footer>

